:root {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}


/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
main {
  margin-top: 60px;
  padding: 20px 10px;
}
