.author-field.mb-3[data-controller="author-autocomplete"]
  .row.align-items-end
    .col-11
      = f.hidden_field :author_id, data: { author_autocomplete_target: 'authorId' }
      input.form-control[type="text" placeholder="Search author..." data-author-autocomplete-target="searchInput"
        data-action="input->author-autocomplete#search keydown->author-autocomplete#handleKeydown"]
      ul.list-group[data-author-autocomplete-target="results" style="display: none;"]
    - if f.index.present? && f.index > 0
      .col-1
        button.btn.btn-outline-danger.btn-sm.w-100[type="button" data-action="click->authors-list#removeAuthor"]
          i.bi.bi-x-lg
