= form_with model: @entry, html: { class: 'g-3' } do |form|
  .col-6
    label.form-label.mb-0.pb-2.pt-1
      | Author
    = turbo_frame_tag 'new_author_modal'
      = link_to 'New author', new_modal_authors_path, { class: 'btn btn-link text-end pb-2 pt-1 border-0' }
  .col-12[data-controller="author-autocomplete"]
    = form.hidden_field :author_id, data: { author_autocomplete_target: 'authorId' }
    input.form-control.mb-3[type="text" placeholder="Search author..." data-author-autocomplete-target="searchInput" data-action="input->author-autocomplete#search keydown->author-autocomplete#handleKeydown"]
    ul.list-group[data-author-autocomplete-target="results" style="display: none;"]
  .col-12
    label.form-label
      | Full Title
    textarea.form-control[type="text_area" rows="3"]
  .text-center
    button.btn.btn-primary[type="submit"]
      | Submit
    button.btn.btn-secondary[type="reset"]
      | Reset
